<link href='https://fonts.googleapis.com/css?family=Caveat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/static/css/index/normalize.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/index/square-loader.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/index/demo.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/index/component.css"/>
<script>
    document.documentElement.className = 'js';
</script>
<div class="view">
  <section class="page page--mover">
    <div class="la-square-loader">
      <div></div>
    </div>
  </section>
  <div class="title-wrap">
    <h1 class="title title--main">OH<em>!</em>PAPERS</h1>
    <p class="title title--sub">this are all of your papers</p>
  </div>
  <section class="page page--static">
    <div class="page__title">
      <h2 class="page__title-main">this is your paper list</h2>
      <p class="page__title-sub">you can check your papers</p>
    </div>
    <ul class="grid">
      <% @papers.each do |paper| %>
          <li class="grid__item">
            <p class="index-paper-name"><%= paper.name %></p>
            <a class="grid__link" href="<%= url_for(paper) %>">
              <img class="grid__img" src="/static/img/index/photos/3.jpg" alt="Some image"/>
              <h3 class="grid__item-title"><%= paper.title %></h3>
            </a>
          </li>
      <% end %>
    </ul>
    <button class="button button--load" aria-label="Load more images">
      <svg class="polaroid" width="100%" height="100%" viewBox="0 0 220 243" preserveAspectRatio="xMidYMid meet">
        <rect class="polaroid__base" x="0" y="0" width="220" height="243" rx="5"></rect>
        <rect class="polaroid__inner" x="16" y="20" width="189" height="149"></rect>
        <g class="polaroid__loader">
          <circle cx="61.5" cy="94.5" r="17.5"></circle>
          <circle cx="110.5" cy="94.5" r="17.5"></circle>
          <circle cx="159.5" cy="94.5" r="17.5"></circle>
        </g>
      </svg>
      <span class="button__text">Load more</span>
    </button>
  </section>
  <div class="device">
    <div class="device__screen"></div>
  </div>
  <button id="showgrid" class="button button--view" aria-label="Show me more">
    <svg width="100%" height="100%" viewBox="0 0 310 177" preserveAspectRatio="xMidYMid meet">
      <path fill="#FFFFFF" d="M159.875,174.481L306.945,27.41c2.93-2.929,2.93-7.678,0-10.606L292.803,2.661c-1.406-1.407-3.314-2.197-5.303-2.197c-1.989,0-3.896,0.79-5.303,2.197L154.572,130.287L26.946,2.661c-1.406-1.407-3.314-2.197-5.303-2.197c-1.989,0-3.897,0.79-5.303,2.197L2.197,16.804C0.733,18.269,0,20.188,0,22.107s0.732,3.839,2.197,5.303l147.071,147.071C152.197,177.411,156.945,177.411,159.875,174.481L159.875,174.481z"/>
    </svg>
  </button>
</div><!-- /view -->
<script src="/static/js/index/classie.js"></script>
<script src="/static/js/index/dynamics.min.js"></script>
<script src="/static/js/index/imagesloaded.pkgd.min.js"></script>
<script src="/static/js/index/main.js"></script>